# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8
      - image: ethereum/client-go
        command: |
          --identity="TEST_NODE"
          --networkid="53611"
          --rpc
          --rpcaddr 0.0.0.0
          --rpcapi admin,debug,eth,miner,net,personal,shh,txpool,web3
          --ws
          --wsaddr 0.0.0.0
          --wsapi admin,debug,eth,miner,net,personal,shh,txpool,web3
          --wsorigins "*"
          --mine
          --minerthreads=1
          --dev
          --allow-insecure-unlock
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # The `ledger-wallet-provider` lib has `node-hid` as a dependency, which won't build on certain
      # Linux systems without installing libusb first
      - type: shell
        name: Install System Dependencies
        command: sudo apt-get update && sudo apt install -y libusb-1.0-0 libusb-1.0-0-dev

      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "package-lock.json" }}

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v3-dependencies-{{ checksum "package-lock.json" }}

      # run tests!
      - run: npm run prebuild && npm test

      - run: npm run build
      - run: npm run cleanup-dev

      - save_cache:
          paths:
            - '.'
          key: dist-{{ .Revision }}

  deploy:
    docker:
      - image: circleci/node:8

    working_directory: ~/repo

    steps:
      - restore_cache:
          keys:
            - dist-{{ .Revision }}
      - run: ssh -oStrictHostKeyChecking=no
      - run: npx semantic-release
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
